@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply scroll-smooth;
  }

  body {
    @apply font-sans text-gray-900 antialiased;
  }
}

@layer utilities {
  .text-gradient-flame {
    @apply bg-gradient-flame bg-clip-text text-transparent;
  }
}
